<div>
  <div class="header gradient">
    <%= image_tag 'cocktail-white.svg', class: 'icon' %>
    <div class="header__title">The drinks searcher</div>
  </div>

  <div class="searcher">
    <div class="searcher__radio">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="searchRadio" id="simpleSearch" value="simple" checked>
        <label class="form-check-label" for="simpleSearch">Easy search</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="searchRadio" id="advancedSearch" value="advanced">
        <label class="form-check-label" for="advancedSearch">Recommend me ;)</label>
      </div>
    </div>

    <%= form_tag do %>
      <div class="simple-form">
        <div class="simple-form__input">
          <input class="form-control form-control-lg" type="text" placeholder="Try a Martini..">
        </div>
        <div class="simple-form__btn">
          <button type="submit" class="btn btn-outline-primary btn-lg">Search</button>
        </div>
      </div>

      <div class="advanced-form" style="display:none;">
          <%= label_tag(:name, 'Name') %>
          <%= text_field_tag 'drink[:name]',nil, class: 'form-control form-control-lg', placeholder: "Type a name"%>
          <br>
          <%= label_tag(:description, 'Description') %>
          <%= text_field_tag 'drink[:description]',nil, class: 'form-control form-control-lg', placeholder: "Type a description"%>
          <br>
          <%= label_tag(:alcohol_level, 'Alcohol Level') %>
          <%= number_field_tag 'drink[:alcohol_level]', nil, class: 'form-control form-control-lg', placeholder: "Alcohol Level"%>
            <br>
          <%= label_tag(:distilled, 'Distilled') %>
          <%= text_field_tag 'drink[:distilled]',nil, class: 'form-control form-control-lg', placeholder: "Distilled?"%>
          <br>
          <%= label_tag(:temperature, 'Temperature') %>
          <%= select_tag('drink[:temperature]', options_for_select([["", ""],["Hot", 0],["Warm", 1],["Ambient", 2], ["Cold", 3], ["Extra Cold", 4]]), class: 'form-control form-control-lg')%>
          <br>
          <%= label_tag(:base_ingredient, 'Base Ingredient') %>
          <%= text_field_tag 'drink[:base_ingredient]',nil, class: 'form-control form-control-lg', placeholder: "Type a base ingredient"%>
          <br>
          <%= label_tag(:origin, 'Origin') %>
          <%= text_field_tag 'drink[:origin]',nil, class: 'form-control form-control-lg', placeholder: "Type a origin"%>
          <br>
          <%= label_tag(:ibu, 'IBU') %>
          <%= text_field_tag 'drink[:ibu]',nil, class: 'form-control form-control-lg', placeholder: "Type a IBU"%>
          <br>
          <%= label_tag(:drinkware, 'Drinkware') %>
          <%= text_field_tag 'drink[:drinkware]',nil, class: 'form-control form-control-lg', placeholder: "Type a drinkware"%>
          <br>
          <%= label_tag(:rating_avg, 'Rating Avarage') %>
          <%= text_field_tag 'drink[:rating_avg]',nil, class: 'form-control form-control-lg', placeholder: "Type a rating avarage"%>
          <br>          
      </div>
    <% end %>
  </div>

  <div class="drinks-list">
    <% @drinks.each do |drink| %>
      <div class="card drink-card">
        <%= image_tag drink.image_url, class: 'drink-card__img' %>
        <div class="drink-card__body">
          <h2><%= drink.name %></h2>
          <p><%= drink.description %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
